/* Write your CSS here */
.container {
  background-color: #ffc2a0;
  padding: 30px;
  height: 100vh;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  height: 90vh;
}
